outputs/RTFs/*
.DS_Store
.vscode/
deism/__pycache__/
**/__pycache__/
build/
outputs/
var/
deism.egg-info/
dist/
**/*.so
**/*.pyd
**/*.pyc
*.mat
media/
new_features/
tools/reports/
examples/benchmarks/*.json
examples/BRAS_results/
examples/**/*.csv
BRAS_results/
