# here is the configuration file for single set of parameters
# Note: 
SilentMode: 0 # 1 means no output in the console, 0 means output in the console
# Use space instead of tab for indentation at the beginning of each line
# 1. Environment parameters
Environment:
  soundSpeed: 343 # speed of sound
  airDensity: 1.2 # constant of air

# 2. 3D size of the room
# (unit: meter)
Dimensions:
  length: 4
  width: 3
  height: 2.5

# 3. Boundary conditions and max. reflection order
Reflections:
  angleDependentFlag: 1 # 1 means angle-dependent reflection coefficients, 0 means angle-independent reflection coefficients
  # format of reflection coefficient: [Z_x0,Z_x1,Z_y0,Z_y1,Z_z0,Z_z1]
  acoustImpendence: [18, 18, 18, 18, 18, 18]
  # Should support frequency-dependency as well,
  # i.e., for each entry in the list, it is either a complex-valued number or a filename
  # e.g., "imp_1", "imp_2". In this way, the users can load their own impedance profiles
  # An example would be:
  # ["imp_1", "imp_1", "imp_2", "imp_3", "imp_5", "imp_6"], where each "imp_#" corresponds to the name of a impedance profile
  # Loading the impedance profile is followed by a frequency interpolation from the complex-valued impedance to the frequencies defined in 5. frequency terms
  # Summary, supported input:
  # 1. AcoustImpendence: 18+0j # A single value for 6 walls, no frequency-dependency
  # 2. AcoustImpendence: [18, 20, 8, 5, 30, 19] # Different values for 6 walls, no frequency-dependency
  # 3. AcoustImpendence: "imp_1" # A name for a impedance profile to load, used for all 6 walls
  # 4. AcoustImpendence: ["imp_1", "imp_1", "imp_2", "imp_3", "imp_5", "imp_6"] # Different loaded profiles for different walls
  maxReflectionOrder: 5
  reverberationTime: 1 # in seconds

# Simulation parameters # 
# 4. positions of sound source and receiver in 3-dimensional Cartesian coordinate
# unit(meter)
# Note:
# The source and receiver should be at least 1m away from the walls;
# The distance between the source and receiver should be not less than the sum of the radii of transparent spheres
Positions:
  source:
    x: 1.1
    y: 1.1
    z: 1.3

  receiver:
    x: 2.9
    y: 1.9
    z: 1.3

# 5. frequency terms
Frequencies:
  # unit of frequency(Hz)
  startFrequency: 20
  endFrequency: 1000
  frequencyStep: 2
  samplingRate: 2000

# Directivity parameters #
# 5. maximal spherical harmonic directivity order
MaxSphDirectivityOrder:
  nSourceOrder: 5
  vReceiverOrder: 5

# 6. Facing/Rotation of the directivities
# Three angles are need to describe the Z-X-Z convention of rotation;
# The rotation matrix calculation used in COMSOL, see:
# https://doc.comsol.com/5.5/doc/com.comsol.help.comsol/comsol_ref_definitions.12.092.html
Orientations:
  source:
    alpha: 0
    beta: 0 
    gamma: 0 
  receiver:
    alpha: 180
    beta: 0 
    gamma: 0 

# 7. parameters of the transparent sphere around the source and receiver
# The values should be consistent with the loaded directivity files
# For different max. sph. orders at different frequency ranges, this should allow adjustments
Radius:
  source: 0.4
  receiver: 0.5

# 8. Directivity data
Directivities:
  # Choices for source: 
  # Analytic: "monopole"
  # Simulated or measured: "speaker_cuboid_cyldriver_1"
  source: "speaker_cuboid_cyldriver_1"
  # Choices for receiver:
  # Analytic: "monopole"
  # Simulated or measured: "speaker_cuboid_cyldriver_1"
  receiver: "speaker_cuboid_cyldriver_1" # A frequency-domain interpolation should also be possible

# Other functional parameters
# DEISM modes: You can run DEISM using different versions
# 1. ORG: Original DEISM, which is supposed to be the most accurate, but takes the longest time
# 2. LC: Low-complexity DEISM with vectorized calculation, which is supposed to be faster than ORG, but less accurate
# 3. MIX: Early reflections up to order 2 are calculated using ORG, and the rest are calculated using LC
DEISM_specs: 
  ifRemoveDirect: 0 # If remove the direct sound from the image sources
  Mode: "MIX" # "ORG", "LC", "MIX"
  mixEarlyOrder: 2 # The order of reflections using DEISM-ORG if choose "MIX"
  numParaImages: 50000 # Number of images parallel for the calculation, information for users about RAM consumption
  # If normalize the receiver directivity if the receiver directivity is obtained by placing a point source
  # with flow strength QFlowStrength at the receiver position and measuring the sound pressure at a sphere around the receiver
  # You need to specify QFlowStrength after the following flag
  ifReceiverNormalize: 1 
  QFlowStrength: 0.001
